In [13]:
#Importing the necessary libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [10]:
books = []
for i in range(1,51):
  url = f"https://books.toscrape.com/catalogue/page-{i}.html"
  response = requests.get(url)
  response = response.content
  soup=BeautifulSoup(response,'html.parser')
  ol = soup.find('ol')
  articles = soup.find_all('article',class_='product_pod')

for article in articles:
  image =article.find('img')
  title = image.attrs['alt']
  star =article.find('p')
  star = star['class'][1]
  price = article.find('p', class_='price_color').text
  price = float(price[1:])
  books.append([title, price, star])

In [11]:
df = pd.DataFrame(books,columns=['Title','Price','Star Rating'])

In [14]:
#checking the first few rows of our dataset
df.head()

                              Title  Price Star Rating
0                      Frankenstein  38.00         Two
1  Forever Rockers (The Rocker #12)  28.80       Three
2       Fighting Fate (Fighting #6)  39.24       Three
3                              Emma  32.93         Two
4                   Eat, Pray, Love  51.32       Three

In [12]:
#Converting the dat 
df.to_csv('book.csv')